<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual Keyboard</title>
</head>

<body>
    <noscript> Javascript needs to be enabled</noscript>
    <!-- <h1>Virtual Keyboard</h1>
    <label id="#keyboard-toggle" class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label> -->

    <section id="#grid-container" class="grid-container">
        <div class="text-area-container">
            <p>Input Data</p>
            <textarea id="#keyboard-input-textarea" class="keyboard-input-textarea" readonly></textarea>
        </div>

        <div class="toggle-container">
            <p>Virtual Keyboard</p>
            <button id="#keyboard-toggle-on" type="button">ON</button>
            <button id="#keyboard-toggle-off" type="button">OFF</button>
        </div>
        <div id="#keyboard-container" class="keyboard-container">
            <ul id="#keyboard" class="keyboard">
                <li id="char~" class="keyboard-char">~</li>
                <li class="keyboard-char">1</li>
                <li class="keyboard-char">2</li>
                <li class="keyboard-char">3</li>
                <li class="keyboard-char">4</li>
                <li class="keyboard-char">5</li>
                <li class="keyboard-char">6</li>
                <li class="keyboard-char">7</li>
                <li class="keyboard-char">8</li>
                <li class="keyboard-char">9</li>
                <li class="keyboard-char">0</li>
                <li class="keyboard-char">-</li>
                <li class="keyboard-char">_</li>
                <li class="keyboard-char-delete">delete</li>
                <li class="keyboard-char">q</li>
                <li class="keyboard-char">w</li>
                <li class="keyboard-char">e</li>
                <li class="keyboard-char">r</li>
                <li class="keyboard-char">t</li>
                <li class="keyboard-char">y</li>
                <li class="keyboard-char">u</li>
                <li class="keyboard-char">ı</li>
                <li class="keyboard-char">o</li>
                <li class="keyboard-char">p</li>
                <li class="keyboard-char">[</li>
                <li class="keyboard-char">]</li>
                <li class="keyboard-char">|</li>
                <li class="keyboard-char">\</li>
                <li id="#caps-lock" class="keyboard-char">c.lock</li>
                <li class="keyboard-char">a</li>
                <li class="keyboard-char">s</li>
                <li class="keyboard-char">d</li>
                <li class="keyboard-char">f</li>
                <li class="keyboard-char">g</li>
                <li class="keyboard-char">h</li>
                <li class="keyboard-char">j</li>
                <li class="keyboard-char">k</li>
                <li class="keyboard-char">l</li>
                <li class="keyboard-char">;</li>
                <li class="keyboard-char">"</li>
                <li class="keyboard-char">'</li>
                <li class="keyboard-char">return</li>
                <li class="keyboard-char">shift</li>
                <li class="keyboard-char">z</li>
                <li class="keyboard-char">x</li>
                <li class="keyboard-char">c</li>
                <li class="keyboard-char">v</li>
                <li class="keyboard-char">b</li>
                <li class="keyboard-char">n</li>
                <li class="keyboard-char">m</li>
                <li class="keyboard-char">,</li>
                <li class="keyboard-char">.</li>
                <li class="keyboard-char">/</li>
                <li class="keyboard-char">?</li>
                <li class="keyboard-char">{</li>
                <li class="keyboard-char">}</li>
                <li class="keyboard-char">fn</li>
                <li class="keyboard-char">cntrl</li>
                <li class="keyboard-char">option</li>
                <li class="keyboard-char">command</li>
                <li class="keyboard-char space">space</li>
                <li class="keyboard-char">left</li>
                <li class="keyboard-char">right</li>
                <li class="keyboard-char">up </li>
                <li class="keyboard-char">down </li>
            </ul>
        </div>

    </section>

</body>

</html>